<%- include('../includes/header.ejs')%>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
<%- include('../includes/navigation.ejs')%>
 <main>
        <form class="product-form" action="/forgot-password" method="POST">
 <% if(errorMessage.length !== 0) {%>
 <div class="user-message user-message--error"><%= errorMessage %></div>
 <% } %>
 <% if(successMessage.length !== 0) {%>
 <div class="user-message user-message--success"><%= successMessage %></div>
 <% } %>
 <span> Please enter email so that we can send recovery link</span>
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Send Email</button>
        </form>
    </main>
<%- include('../includes/footer.ejs')%>